<style>
*{ margin:0;
   padding:0;
box-sizing:border-box;
  
}


.container{
   width: 100%;
   height: 100%;
   background: linear-gradient(57deg,white,rosybrown);
   clip-path: (0%,0%, 100% 0%, 100% 78%, 0% 100%); 
    
}
nav{
    width: 100%; 
    height: 5vw;
    display: flex; 
    color: whitesmoke; 
    background-color:#3c3c3c;
}

.logo{
    width: 100%; 
    height: 5vw;
    background-color: #3c3c3c;}

.logo h1{
    width: 100%;
    height:auto;
    font-family: yasmin;
    padding-left: 3vw ;
    font-size: 1.5vw;
}

.menu{ 
    width:50%; 
    height:55% auto;
}
.menu ul{
    width: 100%; 
    height: auto; 
    display:flex; 
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; color: whitesmoke;
    padding-right:3vw;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
}

.menu ul li {
    list-style: none;
    font-size: 1.3vw;
    font-weight:bold;
    text-transform: uppercase;}

.menu ul li a {
    text-decoration: none;
    color:whitesmoke;}

.section{ 
    display:flex;
    height: auto;
    width: 100%;
}
.article {
    width: 100%;
    height:auto;
    font-size: 100%;
    display: flex;
    
}
.image {
    float:left;
    display: flex;
    width: 50%;
    height: 100%;
    
}

.image img {
    width: 60%;
    height:auto;
    padding-top: 20%;   
}

.rightside {
    float: right;
    width: 50%;
    height: auto;
}
.rightside iframe {
    width: 50%;
    display: flex;
}
.rightside h1{
    font-family: megumin;
    font-size: 35px;
    padding-right: 30%;
    padding-top: 8%;
}
.rightside p{
    font-family: Calibri;
    font-size: 15px;
    padding-right: 10%;
    
}
.rightside a{
    
text-decoration: none;
color:beige;
    text-decoration: none;
		background-color: #c3c3c3;
		padding: 2px 6px 2px 6px;
		border: 1px solid #c2c2c2;
		border-radius:2px;
}
.rightside iframe{
   width: 70% ;
   height: auto;


}

.leftside {
    float: left;
    width: 50%;
    height:auto;
}
.leftside h3 {
    font-size: 1.5vw;
}
.leftside pre{
    font-family: calibri;
    font-size: 1vw;
}


footer{
    width: 100%;
    height: 80px;
    color: whitesmoke;
    background-color:#3c3c3c;
    padding: 10px;
}
footer p{ text-align: center; font-size: 12px;}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
