@media screen and (max-width: 600px){
        .nav-link{
    
    font-size: 5vh;
    }
    .presentation{
        flex-direction:column;
    }
    .biomain{
        flex-direction:column;
    }
    .introduction{
        margin-top: 1vh;
        text-align: center;
    }
    .intro-text h1{ 
    font-size: 7vh;
    }
    .intro-text p{
        font-size: 2.5vh;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .cta-select{
    border: 2px solid #121212;
    background: transparent;
    color: #121212;
    width: 18vw;
    height: 5vw;
    cursor:pointer;
    font-size: 2vh;
}
    .cover{
    margin: 3vh 10vw 3vh 10vw;
    
}
    .cover img{
        height: 45vh;
    }
    .nav-link{
        font-size:4vw;
    }
    .logo-container img{
    width: 50%;
    height:auto;
   
    }
    .profileimage{
        height: 25vh;
        margin: 5vh 10vw 3vh 10vw;
    }
    .profileimage p{
    font-size: : 2.5vw;
        margin: 2vh 0vw 2vh 0vw;
    }
    .profileimage h3{
      font-size: 5vw;
}
    .article{
       margin: 5vh 10vw 3vh 10vw;
    }
    .article h3{
        font-size: 5vw;
    }
    .article pre{
        font-size: 3vw;
    }
    .media {
        margin: 5vh 10vw 3vh 10vw;
    }
    
     .media h3{
        font-size: 5vw;
        margin: 5vh 4vw 0vh 4vw;
    }
    .media iframe{
       width: 90vw;
    height: 40vh;

        
    }
    .instagram,.twitter,.Facebook {
    margin: 10vh 0vh 0vh 0vh;
        
}
    .instagram img,.twitter img ,.Facebook img{
    height: 25vh;
    }
    .instagram h3,.twitter h3,.Facebook h3 {
     font-size: 5vw;
}
 .footer p {
   
    font-size: 100px; 
    }   
}
