/* Webfont: TrackersRegular */@font-face {
    font-family: 'Trackers';
    src: url('Trackers.woff2') format('woff2'), /* Modern Browsers */
         url('Trackers.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

